@import '../../styles/abstract.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.btnBlock {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.container {
  display: flex;
  gap: 2rem;

  .side {
    display: flex;
    min-width: 250px;
    flex-direction: column;
    gap: 2.5rem;
  }

  .rightSide {
    justify-content: end;
  }
}
